Source: kidtimer
Build-Depends: debhelper-compat (=12)
Maintainer: Peter Sági <psagi@freemail.hu>

Package: kidtimer
Section: utils
Priority: optional
Architecture: all
Depends: at, libnotify-bin, bash, coreutils, grep
Homepage: http://github.com/psagi/kidtimer
Description: Set daily limits on computer time.
